/*
Thank you!
Borrowed some code from https://www.w3schools.com/
Used background pattern generator from http://www.heropatterns.com/
*/

@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Roboto+Mono:ital,wght@0,300;0,700;1,700&display=swap');

h1, h2, p, ul {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: 700;
  font-size: 68px;
  text-align: center;
  color: rgb(40, 3, 3);
}

h2 {
  font-style: normal;
  font-size: 48px;
}

p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

ul {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

body {
    background-color: #a4ddd2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%23f96464' fill-opacity='0.4'%3E%3Cpath fill-rule='evenodd' d='M5 3.59L1.46.05.05 1.46 3.59 5 .05 8.54l1.41 1.41L5 6.41l3.54 3.54 1.41-1.41L6.41 5l3.54-3.54L8.54.05 5 3.59zM17 2h24v2H17V2zm0 4h24v2H17V6zM2 17h2v24H2V17zm4 0h2v24H6V17z'/%3E%3C/g%3E%3C/svg%3E");    
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: lightgray;
    margin-top: 20px;
}

/* header links don't need underlines */
a.header-link {
    text-decoration: none;
}

/* unvisited link */
a:link {
  color: rgb(71, 0, 0);
}
  
  /* visited link */
a:visited {
  color: rgb(0, 0, 0);
}
  
  /* mouse over link */
a:hover {
  color: rgb(148, 0, 0);
}
  
  /* selected link */
a:active {
  color: rgb(255, 0, 0);
}

.boxed {
  width: 500px;
  margin: auto;
  border-style: solid dashed;
  padding: 30px;
  background: white;
}

.boxed-invis {
  width: 500px;
  margin: auto;
  border-style: none;
  padding: 30px;
}

.boxed-full {
  width: auto;
  margin: auto;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  background-color: black;
  padding: 20px;
  box-shadow: 5px 5px 5px #000000;
}

.gap_sm{ 
  height: 20px;
  width: auto;
}

.gap_lg {
  height: 50px;
  width: auto;
}