@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,700;1,700&display=swap');

h1, h2 {
  font-family: 'Roboto Mono';
  font-style: italic;
  weight: 700;
  font-size: 68px;
  text-align: center;
}

h2 {
  font-style: normal;
  font-size: 48px;
}

footer {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: lightgray;
    margin-top: 20px;
}

.boxed {
    width: 500px;
    margin: auto;
    border-style: solid dashed;
    padding: 30px;
}